<h3 class="section-header">Add New Payment</h3>
<form class="add-payment-card" [formGroup]="paymentForm" (ngSubmit)="addPayment()">
    <label class="table-header" for="paymentAmount">
        Payment Amount
        <input 
            id="paymentAmount" 
            type="number" 
            name="paymentAmount"
            formControlName="paymentAmount"
        />
    </label> 
    <div *ngIf="getPaymentAmountError()" class="error">
        {{getPaymentAmountError()}}
    </div>
    <label class="table-header" for="paymentType">
        Payment Type
        <select
            id="paymentType"
            name="paymentType"   
            formControlName="paymentType" 
        >
            <option value="">Select Payment Type</option>
            <option
                *ngFor="let paymentType of paymentTypes"
                [value]="paymentType"
            >
            {{paymentType}}
            </option>
        </select>

        <div *ngIf="getPaymentTypeError()" class="error">
            {{getPaymentTypeError()}}
        </div>
    </label>
         <button type="submit">Add Payment</button>  
</form>
