
<h3 class="section-header">Monthly Summary</h3>
<!-- <div *ngIf="errorMessage"
     style="color: red; padding: 10px; border: 1px solid red;">
    <p>Error: {{errorMessage}}</p>
</div> -->
<!-- 
<div *ngIf="isLoading">
  <p>Loading data...</p>
</div> -->

<table class="payment-summary">
    <thead class="payment-summary__header">
        <tr>
            <th class="table-header"  *ngFor="let column of tableColumns">{{column.label}}</th>
        </tr>
    </thead>
    <tbody class="payment-summary__body">
        <tr *ngFor="let summary of monthlySummaries">
            <td class="body-text">{{summary.yearMonth}}</td>
            <td class="body-text">
                <div   
                        *ngFor="let payment of summary.allPaymentsInMonth"
                >
                        {{payment.amount}}
                </div>
            </td>
            <td class="body-text">
                {{summary.paymentCount}}
            </td>
            <td class="body-text">
                {{summary.totalAmount}}
            </td>
            <td class="body-text">
                {{summary.status}} 
                <div *ngIf="summary.overpay">
                    overpay: {{summary.overpay}}
                </div>
                <div *ngIf="summary.dept">
                   dept: {{summary.dept}}
                </div>
            </td>
        </tr>
    </tbody>

</table>
