<h3>Monthly Summary: </h3>
<div *ngIf="errorMessage"
     style="color: red; padding: 10px; border: 1px solid red;">
    <p>Error: {{errorMessage}}</p>
</div>

<div *ngIf="isLoading">
  <p>Loading data...</p>
</div>

<table>
    <thead>
        <tr>
            <th  *ngFor="let column of tableColumns">{{column.label}}</th>
             <!-- <th>Year Month</th>
             <th>Total Paid</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let summary of monthlySummaries">
            <td>{{summary.yearMonth}}</td>
            <td>
                <div *ngFor="let payment of summary.allPaymentsInMonth">
                        {{payment.amount}}
                </div>
            </td>
            <td>
                {{summary.paymentCount}}
            </td>
            <td>{{summary.totalAmount}}</td>
        </tr>
    </tbody>

</table>
