


.payment-summary{
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radious);
}

.payment-summary__header {
  background-color: var(--color-light-light-gray);
}