
<h3 class="section-header">Monthly Summary</h3>
<!-- <div *ngIf="errorMessage"
     style="color: red; padding: 10px; border: 1px solid red;">
    <p>Error: {{errorMessage}}</p>
</div> -->
<!-- 
<div *ngIf="isLoading">
  <p>Loading data...</p>
</div> -->

<table class="payment-summary">
    <thead class="payment-summary__header">
        <tr>
            <th class="table-header"  *ngFor="let column of tableColumns">{{column.label}}</th>
        </tr>
    </thead>
    <tbody class="payment-summary__body">
        <tr *ngFor="let summary of monthlySummaries">
            <td class="body-text month">{{summary.yearMonth}}</td>
            <td class="body-text payments-row">
                <div  class="payment-bubble"   
                        *ngFor="let payment of summary.allPaymentsInMonth"
                >
                        {{payment.amount}}
                </div>
            </td>
            <td class="body-text">
                <span class="count-badge">{{summary.paymentCount}}</span>
            </td>
            <td class="body-text total-amount">
                <span 
                    [class]="summary.totalAmount >= 52000 ? 'total-complete' : 'total-deficit'"
                >
                    {{summary.totalAmount}}
                </span>    
            </td>
            <td class="status-text body-text">
                {{summary.status}} 
                <div class="overpay" *ngIf="summary.overpay">
                    overpay ({{summary.overpay}})
                </div>
                <div *ngIf="summary.dept">
                   dept ({{summary.dept}})
                </div>
            </td>
        </tr>
    </tbody>

</table>
